@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #004E92;
  --color-secondary: #3b82f6;
  --color-accent: #F97316;
}

body {
  font-family: var(--font-sans);
}

.glossy-btn {
  background: linear-gradient(to bottom, #FF9D4D 0%, #F97316 100%);
  box-shadow: 0 4px 6px -1px rgba(249, 115, 22, 0.5);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.glossy-btn:hover {
  background: linear-gradient(to bottom, #FFAF6D 0%, #FB923C 100%);
  transform: translateY(-1px);
}

.glossy-btn:active {
  transform: translateY(0);
}

.mask-image-gradient {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}